@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.blog-card {
  font-family: poppins, sans-serif;
    border-top: 1px solid lightgray;
    /* padding-block: 16px; */
    /* background-color: white; */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    /* width: 250px; */
    display: flex;
    align-items: flex-start;
    flex-direction: column;

  img {
    display: flex;
    width: 100%;

    &:hover {
      background-color: pink;
    }
  }

  h2 {
    font-size: 1rem;
    margin: 16px 0;
  }

  p {
    font-size: 0.5rem;
    color: #666;
  }
}
