@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import '../../styles/themes.scss';

.blog-card {
  font-family: 'Poppins', sans-serif;
  border-top: 1px solid lightgray;
  margin-bottom: 32px;
  background-color: var(--card-background-color);
  text-decoration: none;
  display: block;
  transition: all 0.25s ease-in-out;
  
  &:hover {
    background-color: var(--card-hover-color);
    
    img {
      opacity: 0.8;
    }
  }

  img {
    width: 100%;
    transition: opacity 0.25s ease-in-out;
  }

  .top-section {
    padding: 16px;
    color: var(--text-color);

    .post-index {
      color: var(--secondary-text-color);
      font-size: 0.9rem;
    }

    h2 {
      margin: 8px 0;
      color: var(--text-color);
    }

    p {
      color: var(--secondary-text-color);
      font-size: 0.9rem;
      line-height: 1.5;
    }
  }
}
