:root {
  --primary-color: #007bff;
  --background-color: white;
  --text-color: #292929;
  --card-background-color: white;
  --card-hover-color: #fce4ec;
  transition: background-color 0.25s ease-in-out;
}

[data-theme='dark'] {
  --primary-color: #1e90ff;
  --background-color: #1C1C1C;
  --text-color: white;
  --card-background-color: #1C1C1C;
  --card-hover-color: #880e4f;
  transition: background-color 0.25s ease-in-out;
}
