@import '../../styles/themes.scss';

.home {
  background-color: var(--card-background-color);
  transition: background-color 0.25s ease-in-out;

  h2 {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 16px;
  }

  p {
    text-align: left;
    font-size: 0.75rem;
    margin: 0 0 16px;
  }

  .blog-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 32px;
    padding-top: 10rem;
    gap: 32px;
  }

  @media screen and (max-width: 1160px) {
    .blog-card-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (max-width: 860px) {
    .blog-card-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 600px) {
    .blog-card-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
