@import '../../styles/themes.scss';

.home {
  background-color: var(--card-background-color);
  transition: background-color 0.25s ease-in-out;

  h2 {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 8px;
  }

  p {
    text-align: left;
    font-size: 0.75rem;
    margin-block: 8px;
  }

  .blog-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 32px;
    padding-top: 10rem;
    gap: 32px;
  }
}
