@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import '../../styles/themes.scss';

.theme-toggle {
  display: flex;
  justify-content: flex-end;
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: right;
  transition: color 0.25s ease;
  display: inline-block;
  transition: background-color 0.25s ease-in-out;

  &:hover {
    color: var(--card-hover-color);
    transition: background-color 0.25s ease-in-out;
  }
}
