@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

header {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  color: black;
  padding-inline: 32px;
  text-align: center;

  .site-title {
    margin: 0;
    padding-block: 16px;
    border-bottom: 1px solid lightgray;

    .name {
      display: flex;
      font-size: 18vh;
      line-height: 1;
      margin: 0;
      padding: 0;

      .rest {
        display: flex;
        justify-content: space-between;
        margin: 0; /* Removes any default margin */
        padding: 0; /* Removes any default padding */
        opacity: 0;
        transition: opacity 0.05s ease-in-out;
        font-size: inherit;
      }

      .space {
        width: 1.75rem; /* Adjust the width to create space */
      }

      // Apply delay for each letter, space, and character
      span:nth-child(1) { transition-delay: 0.025s; }
      span:nth-child(2) { transition-delay: 0.05s; }
      span:nth-child(3) { transition-delay: 0.075s; }
      span:nth-child(4) { transition-delay: 0.1s; }
      span:nth-child(5) { transition-delay: 0.13s; }
      span:nth-child(6) { transition-delay: 0.16s; }
      span:nth-child(7) { transition-delay: 0.19s; }
      span:nth-child(8) { transition-delay: 0.22s; }
      span:nth-child(9) { transition-delay: 0.25s; }
      span:nth-child(10) { transition-delay: 0.275s; }
      span:nth-child(11) { transition-delay: 0.3s; }
      span:nth-child(12) { transition-delay: 0.325s; }
      span:nth-child(13) { transition-delay: 0.35s; }

      &:hover .rest {
        opacity: 1;
      }
    }

    .first-word {
      display: flex;
      width: 100%;
    }

    .second-word {
      display: flex;
      width: 100%;
    }
  }

  nav {
    margin-top: 8px;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;

      li {
        margin: 0 8px;

        a {
          color: black;
          text-decoration: none;
          transition: color 0.4s;

          &:hover {
            color: pink;
          }
        }
      }
    }
  }
}
