header {
  background-color: white;
  color: black;
  padding: 8px;
  text-align: center;

  .site-title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .name {
      display: flex;
      flex-direction: row;
      align-items: center;

      .column {
        display: flex;
        align-items: center;
        margin: 0 8px;

        .initial {
          display: inline;
        }

        .rest {
          display: inline-block;
          opacity: 0;
          transition: opacity 0.05s ease-in-out;
        }

        &.column-1 .rest:nth-child(1) {
          transition-delay: 0.025s;
        }
        &.column-1 .rest:nth-child(2) {
          transition-delay: 0.05s;
        }
        &.column-1 .rest:nth-child(3) {
          transition-delay: 0.075s;
        }
        &.column-1 .rest:nth-child(4) {
          transition-delay: 0.1s;
        }

        &.column-3 .rest:nth-child(1) {
          transition-delay: 0.125s;
        }
        &.column-3 .rest:nth-child(2) {
          transition-delay: 0.150s;
        }
        &.column-3 .rest:nth-child(3) {
          transition-delay: 0.175s;
        }
        &.column-3 .rest:nth-child(4) {
          transition-delay: 0.2s;
        }
        &.column-3 .rest:nth-child(5) {
          transition-delay: 0.225s;
        }
      }

      &:hover .rest {
        opacity: 1;
        transition: opacity 0.05s ease-in-out;
      }
    }
  }

  nav {
    margin-top: 8px;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;

      li {
        margin: 0 8px;

        a {
          color: black;
          text-decoration: none;

          &:hover {
            color: pink;
          }
        }
      }
    }
  }
}
