@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import '../../styles/themes.scss';

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Poppins', sans-serif;
  transition: background-color 0.25s ease-in-out;
  background-color: var(--background-color);
  color: var(--text-color);

  p {
    margin: 0;
    padding: 32px;
  }
}
